@font-face {
    font-family: 'bebasneue';
    src: url('/web/20200104004915im_/https://sdr.hu/gfx/font_bebasneue/BebasNeue-webfont.eot');
    src: url('/web/20200104004915im_/https://sdr.hu/gfx/font_bebasneue/BebasNeue-webfont.eot#iefix') format('embedded-opentype'),
         url('/web/20200104004915im_/https://sdr.hu/gfx/font_bebasneue/BebasNeue-webfont.woff') format('woff'),
         url('/web/20200104004915im_/https://sdr.hu/gfx/font_bebasneue/BebasNeue-webfont.ttf') format('truetype'),
         url('/web/20200104004915im_/https://sdr.hu/gfx/font_bebasneue/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
     FILE ARCHIVED ON 00:49:15 Jan 04, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:36:35 Dec 29, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.013
  captures_list: 116.588
  RedisCDXSource: 0.719
  LoadShardBlock: 87.642 (3)
  exclusion.robots: 0.201
  CDXLines.iter: 22.961 (3)
  PetaboxLoader3.datanode: 145.328 (5)
  exclusion.robots.policy: 0.188
  PetaboxLoader3.resolve: 121.224 (2)
  load_resource: 214.892 (2)
*/